# EN: If enabled APRS2RRD will put more information on console output
Debug = false;

# EN: If enabled APRS2RRD will print everything to text log file instead of cout
DebugToFile = true;

# EN: 	The path to output log file. Application will also create second one with .err extension
#	where stderr will be put
DebugLogFile = "/home/aprs/skrzyczne/bin/debug.log"

# EN: 	Station name must be always set, although it is used mainly for MySQL client to put data there.
#	The idea is that APRS2RRD can mix data from different sources and then use that result as sometinhg,
#	which is stored in RRD, MySQL, presented to a user etc. Addmitedly single callsing cannot be used  
#	as an identifier in such case.
StationName = "skrzyczne";

# EN: Locale which will be used to print any dates and times on generated RRD plots and HTML website
DatetimeLocale = "pl_PL.UTF-8";

# EN: MySQL client configuration. Only non-trivial parameters are described
MySQL = {
	Enable = true;
	Port = 3306;
	IpAddress = "127.0.0.1";
	DbName = "aprs2rrd";
	DbUser = "aprs2rrd";
	DbPassword = "qwertyuiop";
	DbTable = "skrzyczne";		// This is a name for a table created from 'schema_v1.sql' template
	ExecBeforeInsert = true;	// APRS2RRD can execute external shell script before put data into MySQL
	ExecBeforeInsertPath = "/home/aprs/skrzyczne/rc.preinsert"
        SchemaV1 = true;		// If data should be put into table pointed by DbTable option
        SchemaV2 = true;		// If data should be put into one, global for all station table, which
					// must be named 'data_station' and be created from template 'schema_v2.sql'
        DumpHolfuy = false;	// Dump data from Holfuy API into separate table (not yet implemeted - TODO)
        DumpDiff = true;	// Dump differential measurements into separate table 'data_diff' from 'schema_v2.sql'
        DumpTelemetry = true;	// Dump telemetry intro separate table 'data_telemetry' from 'schema_v2.sql'

};

# EN: APRS-IS text protocol client configuration
AprsIS = {
	Enable = true;			// If APRS-IS client (or serial port) is enabled APRS2RRD works in
					// so called 'interactive mode'. It starts, then connects to the server
					// and then reveive every incoming packet in the loop. Connection is 
					// automatically reconnected if it stalls. Application exits only on
					// user request or as a result of hard crash. 
					//
					// If only Weatherlink or Holfuy client is enabled, w/o APRS-IS client 
					// APRS2RRD works in batch mode. It gets data from configured APIs, do the
					// rest and exits at the end.
	StationCall = "SR9NSK";
	StationSSID = 1;
	ServerAddr = "euro.aprs2.net";
	ServerPort = 14580;
	MyCALL = "SR8WXO";	// How APRS2RRD presents itself to the server
	MyPasswd = 12345;	// password doesn't need to be valid and the app doesn't sent anything to the server
	SecondaryCall = "SR9NSK";	// APRS2RRD can monitor one or two weather stations. At least one must be configured
	SecondarySSID = 2;		// Secondary one is optional
};

Serial = {
	Enable = false;
	Port = "/dev/ttyUSB0";
	Baudrate = 9600;
	CaptureAll = true;
	StationCall = "SP8EBC";
	StationSSID = 1;
};

Holfuy = {
	Enable = true;
	StationId = 1161;
	ApiPassword = "J00DjmU5wouaUKf";
	DumpIntoMysql = false;
};

Sources = {
	Temperature = "AprsIS";
	Wind = "Holfuy";
	Pressure = "AprsIS";
	Humidity = "AprsIS";
	Rain = "AprsIS";
	BackupForEverything = "AprsIS";
};

SlewLimit = {
	Temperature = 0.4;
	Pressure = 5.0;
	WindSpeed = 5.0;
	WindGusts = 12.0;
};

Pressure = {
        StationMeasures = "QFE";
        ConvertTo = "QNH";
        Altitude = 1250;
};


Diffs = {
	Enable = true;
	TemperatureFrom = "AprsIS";
	TemperatureSubtract = "Holfuy";
	WindFrom = "AprsIS";
	WindSubtract = "Holfuy";
};

RRD = (
#	{
#		Type = "TEMPERATURE";
#		Path = "/home/aprs/skrzyczne/rrd/temperatura.rrd";
#	},
	{
		Type = "TEMPERATURE";
		Path = "/home/aprs/skrzyczne/rrd/temperatura2.rrd";
	},
	{
		Type = "QNH";
		Path = "/home/aprs/skrzyczne/rrd/cisnienie.rrd";
	},
	{
		Type = "WIND_SPD";
		Path = "/home/aprs/skrzyczne/rrd/predkosc.rrd";
	},
#	{
#		Type = "WIND_SPD";
#		Path = "/home/aprs/skrzyczne/rrd/predkosc2.rrd";
#	},
	{
		Type = "WIND_GST";
		Path = "/home/aprs/skrzyczne/rrd/szkwaly.rrd";
	},
#	{
#		Type = "WIND_GST";
#		Path = "/home/aprs/skrzyczne/rrd/szkwaly2.rrd";
#	},
	{
		Type = "WIND_DIR";	
		Path = "/home/aprs/skrzyczne/rrd/kierunek.rrd";
	},
#	{
#		Type = "WIND_DIR";	
#		Path = "/home/aprs/skrzyczne/rrd/kierunek2.rrd";
#	},
	{
		Type = "DIFF_WIND_SPD";
		Path = "/home/aprs/skrzyczne/rrd/diff_predkosc.rrd";
	},
	{
		Type = "DIFF_WIND_GST";
		Path = "/home/aprs/skrzyczne/rrd/diff_szkwaly.rrd";	
	},
	{
		Type = "DIFF_WIND_DIR";
		Path = "/home/aprs/skrzyczne/rrd/diff_kierunek.rrd";		
	},
	{
		Type = "DIFF_TEMPERATURE";
		Path = "/home/aprs/skrzyczne/rrd/diff_temperatura.rrd";		
	},
	{
		Type = "HUMIDITY";
		Path = "/home/aprs/skrzyczne/rrd/wilgotnosc.rrd";		
	}

);

Plots = (
	{
		Type = "WIND_SPD_GST";
		Path = "/home/www-server/skrzyczne/temperaturaqnh.png";
		DS0 = "/home/aprs/skrzyczne/rrd/temperatura2.rrd";
                DS0Name = "temperatura";
                DS0RRAType = "AVERAGE";
                DS0PlotType = "AREA";
                DS0PlotColor = 0xFF9900;
		DS0Label = "Temperatura";
//		DS1 = "/home/aprs/skrzyczne/rrd/cisnienie.rrd";
//		DS1Name = "cisnienie";
//		DS1RRAType = "AVERAGE";
//		DS1PlotType = "LINE2";
//		DS1PlotColor = 0x00FFFF;
//		DS1Label = "Cisnienie";
		Title = "Temperatura na szczycie";
		Width = 1100;
		Height = 450;
		Axis = "Stopnie C";
		MinScale = -20.0;
		MaxScale = 35.0;
#		TimeScaleLen = 5400; // 90 godzin - trzy dni 18 godzin
		TimeScaleLen = 6000; // cztery dni 4 godziny
	},
	{
		Type = "WIND_SPD_GST";
		Path = "/home/www-server/skrzyczne/wilgotnosc.png";
		DS0 = "/home/aprs/skrzyczne/rrd/wilgotnosc.rrd";
                DS0Name = "wilgotnosc";
                DS0RRAType = "AVERAGE";
                DS0PlotType = "LINE2";
                DS0PlotColor = 0x007580;
		DS0Label = "Wilgotnosc";
		Title = "Wilgotnosc na szczycie";
		Width = 1100;
		Height = 450;
		Axis = "Procent";
		MinScale = 1.0;
		MaxScale = 100.0;
		TimeScaleLen = 6000; // cztery dni 4 godziny
	},
	{
		Type = "WIND_SPD_GST";
		Path = "/home/www-server/skrzyczne/predkosc.png";
		DS0 = "/home/aprs/skrzyczne/rrd/predkosc.rrd";
		DS0Name = "predkosc";
		DS0RRAType = "AVERAGE";
		DS0PlotType = "AREA";
		DS0PlotColor = 0xFF0000;
		DS0Label = "Predkosc";
		DS1 = "/home/aprs/skrzyczne/rrd/szkwaly.rrd";
		DS1Name = "szkwaly";
		DS1RRAType = "AVERAGE";
		DS1PlotType = "LINE2";
		DS1PlotColor = 0x0000FF;
		DS1Label = "Porywy";
		Title = "Prędkość wiatru na szczycie";
		Width = 1100;
		Height = 600;	
		Axis = "m/s";
		MinScale = 0.1;
		MaxScale = 25.0;
		TimeScaleLen = 1320;	# 1000
	},
	{
		Type = "WIND_DIR";
		Path = "/home/www-server/skrzyczne/diff_wiatr.png";
		DS0 = "/home/aprs/skrzyczne/rrd/diff_predkosc.rrd";
		DS0Name = "predkosc";
		DS0RRAType = "AVERAGE";
		DS0PlotType = "AREA";
		DS0PlotColor = 0x7298D4;
		DS0Label = "Roznica w sredniej predkosci wiatru";
#		DS1 = "/home/aprs/skrzyczne/rrd/diff_szkwaly.rrd";
#		DS1Name = "szkwaly";
#		DS1RRAType = "AVERAGE";
#		DS1PlotType = "LINE2";
#		DS1PlotColor = 0x0000FF;
#		DS1Label = "Porywy";
		Title = "Różnica średniej prędkości wiatru szczyt - startowisko (plus oznacza wiatr mocniejszy na szczycie)";
		Width = 1100;
		Height = 600;	
		Axis = "m/s";
		MinScale = -10.0;
		MaxScale = 10.0;
		TimeScaleLen = 1320;
	},
	{
		Type = "WIND_DIR";
		Path = "/home/www-server/skrzyczne/diff_kierunek.png";
		DS0 = "/home/aprs/skrzyczne/rrd/diff_kierunek.rrd";
                DS0Name = "kierunek";
		DS0RRAType = "AVERAGE";
                DS0PlotType = "AREA";
                DS0PlotColor = 0x7298D4;
		DS0Label = "Roznica Kierunku";
                Title = "Roznica kierunku wiatru szczyt - startowisko (plus oznacza kierunek 'bardziej w prawo' czyli 'wiecej stopni' na szczycie)";
                Width = 1100;
                Height = 400;
		Axis = "stopnie"
		MinScale = -180.0;
		MaxScale = 180.0;
		TimeScaleLen = 1320;
	},
	{
		Type = "WIND_DIR";
		Path = "/home/www-server/skrzyczne/kierunek.png";
		DS0 = "/home/aprs/skrzyczne/rrd/kierunek.rrd";
                DS0Name = "kierunek";
		DS0RRAType = "AVERAGE";
                DS0PlotType = "LINE2";
                DS0PlotColor = 0xFF0000;
		DS0Label = "Kierunek";
                Title = "Kierunek wiatru na szczycie";
                Width = 1100;
                Height = 400;
		Axis = "stopnie"
		MinScale = 1.0;
		MaxScale = 360.0;
		TimeScaleLen = 1320;
	}

);

Website = {
	IndexHtml = "/home/www-server/skrzyczne/index.html";
	Plot0 = "temperaturaqnh.png";
	Plot1 = "predkosc.png";
	Plot2 = "kierunek.png";
	Plot3 = "diff_wiatr.png";
	Plot4 = "wilgotnosc.png";
	Title = "Warunki na Skrzycznem";
	colorfulResultTable = true;
	HeadingTitle = "Stacja pogodowa SR9NSK -- Góra Skrzyczne";
	SubHeading = "<a href=\"http://jaworzyna.pogoda.cc/\">Odczyty ze stacji pogodowej na Jaworzynie Skryczeńskiej</a> (pośrednia stacja wyciągu kanapowego)<br><a href=\"http://magurka.pogoda.cc/\">Odczyty ze stacji pogodowej na Magurce Wilkowickiej</a><br>Odczyty dostępne również w aplikacji mobilnej <a href=\"https://play.google.com/store/apps/details?id=cc.pogoda.mobile.meteosystem\">Meteo System</a>";
	LinkToMoreInfo = false;
	Footer = "Wykonawca: Mateusz Lubecki & Beskidzkie Stowarzyszenie Paralotniowe - tel: +48 660 43 44 46<br>Warunki na Skrzycznym / Stacja podowa Skrzyczne / Pogoda na Skrzynym / Pogoda Szczyrk";
	PrintPressure = "left";
	PrintTemperature = "both";
	PrintHumidity = "left";
	PrintTwoSourcesInTable = true;	
	SecondarySource = "Holfuy";
	SecondaryLabel = "Startowisko E";
	PrimaryLabel = "Szczyt";
};
