table {
    border-collapse: collapse;
}
td.table_caption {
    text-align: right;
} 
td.table_value {
    text-align: left;
    border: 1px solid black;
    border-radius: 5px;
    /* border-top-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;  */
} 
tr.header {
    text-align: center;
}
td.sub_heading {
    text-align: center; line-height: 25px
} 
table.sub_heading {
    width: 870px;
} 
p.last_update {
    font-style: italic; 
    margin-top: 3px; 
    margin-bottom: 3px
}
div.small {
    font-size: 90%;
}
